.Album{
    height: fit-content;
    display:flex;
    flex-direction: row;

}

.AlbumCard{
    border: 2px solid black;
    border-radius: 10px;
    height: 20rem;
    width: 20rem;
    
}

img{
   width: 20rem;
}