.Album {
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.AlbumCard {
  border: 2px solid black;
  border-radius: 10px;
  height: 25rem;
  width: 20rem;
}

img {
  width: 20rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem;
  outline: none;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

.btn > button {
  outline: none;
  border: none;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.AlbumCard::-webkit-scrollbar {
  width: 0;
}
